name: Go Tests

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.5'

      - name: Run tests
        run: make test

      - name: Upload Coverage to Codacy
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
        run: |
          curl -Ls https://coverage.codacy.com/get.sh > codacy-reporter.sh
          chmod +x codacy-reporter.sh
          
          ./codacy-reporter.sh report \
            --force-coverage-parser go \
            -t "$CODACY_PROJECT_TOKEN" \
            -r results.out
